@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 2rem 0;
  font-size: 3rem;
}

.content {
  padding: 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 1rem;
  width: 40%;
  border: 1px solid #ccc;
}

label {
  padding: 1rem 0;
  border-radius: 3px;
}

button {
  margin-top: 1rem;
  width: 20%;
  padding: 1rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

ul li {
  list-style-type: none;
  display: flex;
}

footer {
  display: flex;
  align-items: center;
  gap: 8rem;
  height: 10rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 4rem;
}

span {
  color: #ff69b4;
}
